/* index.css */

.answer {
    display: flex;
    flex-direction: row;
    border-bottom: 1px dashed #000000; /* Adjusted border color */
  }
  
  .answerText {
    flex: 1; /* Expanded width to fill available space */
  }
  
  .answerAuthor {
    margin-left: 5%; /* Adjusted margin for consistency */
  }
  
  .answer_author {
    color: green; /* Adjusted color for consistency */
  }
  