.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #2e2e2b;
  height: 10%;
}

/* Title style */
.title {
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif; /* Change font family */
  color: #ffffff; /* Change text color */
}

.main {
  display: flex;
  flex-direction: row;
  height: 90%;
}

.right_main {
  width: 85%;
  overflow: auto;
}

.space_between {
  display: flex;
  justify-content: space-between;
}

.right_padding {
  padding: 2% 0 2% 2%;
}

.bold_title {
  font-size: 24px;
  font-weight: 800;
  line-height: 40px;
}

.bluebtn {
  background: #3090e2;
  color: #ffffff;
  border: #000000 1px solid;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  margin-right: 5%;
}

.btn_indicator_container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This will push child elements to the extremes of the container */
  width: 100%;
}

.form_postBtn {
  background: #3090e2;
  color: #ffffff;
  padding: 12px 24px; /* Increase padding for better button size */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  transition: background-color 0.3s, color 0.3s;
}

.form_postBtn:hover {
  background-color: #0077cc; /* Darker shade on hover */
}

.mandatory_indicator {
  font-size: 0.8rem;
  color: red;
  margin-top: 10px;
}

#searchBar {
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 300px;
  background-color: #f2f2f2; /* Search bar background color */
  color: #333333; /* Search bar text color */
}

#searchBar::placeholder {
  color: #999999; /* Search bar placeholder color */
}

#searchBar:focus {
  outline: none;
  border: 1px solid #0077cc; /* Search bar border color when focused */
}

/* header/auth/index.css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 5%;
  border-radius: 5%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.form_postBtn {
  background: #3090e2;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  margin: 5px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-text {
  margin-bottom: 10px;
}

.popup-close {
  background-color: #ccc;
  border: none;
  padding: 8px 16px; /* Adjust padding for better button size */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.popup-close:hover {
  background-color: #bbb; /* Darker shade on hover */
}

.button {
  padding: 8px 16px;
  margin-left: 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #0077cc; /* Button background color on hover */
  color: #ffffff;
}

.welcome-msg {
  font-size: 16px;
  font-weight: bold;
  font-family: Arial, sans-serif; /* Change font family */
  color: #ffffff; /* Change text color */
  margin-right: 10px;
}

/* Buttons style */
button {
  margin-left: 10px;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Register button style */
button.register {
  background-color: #4caf50; /* Green */
  color: white;
}

/* Login button style */
button.login {
  background-color: #2196f3; /* Blue */
  color: white;
}

/* Logout button style */
button.logout {
  background-color: #f44336; /* Red */
  color: white;
}

/* Button hover effect */
button:hover {
  background-color: #ddd;
}